################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Linka/FileContentIndex/4c5e69a1-7007-42f4-b3af-80edd4faaa70.vsidx
/.vs/Linka/v17/.suo
